<!DOCTYPE html>
<html>
    <head>
        <base href="{{ base }}"/>
        <meta charset="utf-8"/>
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="/assets/stylesheets/reset.css" type="text/css"/>
        <link rel="stylesheet" href="/assets/stylesheets/slick.css" type="text/css"/>
        <link rel="stylesheet" href="/assets/stylesheets/sample.css" type="text/css"/>
        <script type="text/javascript" src="/assets/javascript/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/javascript/slick.min.js"></script>
        <script type="text/javascript" src="/assets/javascript/velocity.min.js"></script>
        <script type="text/javascript" src="/assets/javascript/velocity.ui.min.js"></script>
        <script type="text/javascript" src="/assets/javascript/skrollr.js"></script>
        <script type="text/javascript" src="/assets/javascript/app.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    </head>
    <body class="b-main">
       <div class="b-wrapper">
           <div class="b-fon"></div>
           <div class="b-fon b-fon_type_photo" data-0="background-position: 0px -100px;" data-end="background-position: 0px 100px;"></div>
           <div class="b-fon b-fon_type_sep"></div>
           <div class="b-wrapper__item">
                <div class="b-logo"></div>
                <div class="b-header">
                    <ul class="b-menu">
                        <li data-trigger="menu" class="b-menu__item">
                            <a href="" class="b-link b-link_theme_menu">О компании</a>
                        </li>
                        <li data-trigger="menu" class="b-menu__item">
                            <a href="" class="b-link b-link_theme_menu">Услуги</a>
                        </li>
                        <li data-trigger="menu" class="b-menu__item">
                            <a href="" class="b-link b-link_theme_menu">Наши объекты<div class="b-menu__arrow"></div></a>
                            <ul class="b-menu b-menu_sub">
                                <li class="b-menu__item">
                                    <a href="" class="b-link b-link_block">
                                        Первый пункт второго
                                        уровня (выпадающее
                                        меню)
                                    </a>
                                </li>
                                <li data-trigger="menu" class="b-menu__item">
                                    <a href="" class="b-link b-link_block">
                                        Второй пункт выпадающего меню<div class="b-menu__arrow"></div>
                                    </a>
                                    <ul class="b-menu b-menu_sub b-menu_sub_third">
                                        <li class="b-menu__item">
                                            <a href="" class="b-link b-link_block">Первый пункт третьего уровня</a>
                                        </li>
                                        <li class="b-menu__item">
                                            <a href="" class="b-link b-link_block">Второй пункт</a>
                                        </li>
                                        <li class="b-menu__item">
                                            <a href="" class="b-link b-link_block">Последний пункт</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="b-menu__item">
                                    <a href="" class="b-link b-link_block">
                                        Предпоследний пункт
                                    </a>
                                </li>
                                <li class="b-menu__item">
                                    <a href="" class="b-link b-link_block">
                                        Последний
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li data-trigger="menu" class="b-menu__item">
                            <a href="" class="b-link b-link_theme_menu">Контакты</a>
                        </li>
                        <li class="b-menu__address">
                            <div class="b-menu__phone b-title b-title_type_h3 b-title_no-margin">8 (423) 200-94-88</div>
                            <a href="mailto:dsm@skdsm.ru" class="b-menu__email b-link b-link_theme_menu">dsm@skdsm.ru</a>
                        </li>
                    </ul>
                </div>
                <div class="b-content b-content_main">
                   <div class="b-info">
                       <div class="b-info__item">
                           <div class="b-info__ico"><span class="b-info__ico-text">Мы предлагаем конкурентные цены</span></div>
                           Заказать строительство вашего объекта можно по очень привлекательным ценам, не потеряв при этом
                           в качестве.
                       </div>
                       <div class="b-info__item">
                           <div class="b-info__ico b-info__ico_type_hands"><span class="b-info__ico-text">Мы заслужили доверие клиентов</span></div>
                           Выполняя строительство объекта, мы детально
                           обсуждаем ситуацию с клиентом и предлагаем
                           рациональные решения — мы экономим время
                           и деньги заказчика.
                       </div>
                       <div class="b-info__item">
                           <div class="b-info__ico b-info__ico_type_hand-ok"><span class="b-info__ico-text">Мы отвечаем за качество и несем гарантию</span></div>
                           Мы контролируем процесс создания объектов от момента производства
                           строительных материалов до ввода объекта в эксплуатацию. Высокое качество подтверждается временем.
                           Гарантийное и послегарантийное обслуживание говорит о нашей ответственности
                           перед Заказчиком. Мы берем на себя обязательство по решению всех возникающих вопросов
                       </div>
                       <div class="b-info__item">
                           <div class="b-info__ico b-info__ico_type_hand-time"><span class="b-info__ico-text">Мы соблюдаем сроки</span></div>
                           Наша компания точно планирует все виды работ и их очередность, а так же
                           требуемые для строительства материалы, и организует их поставку так, чтобы сдача объекта произошла точно в срок оговоренный заказчиком.
                       </div>
                   </div>
                   <div class="b-custom-title">
                       <h1 class="b-title b-title_type_h1 b-title_label-border">Наши объекты</h1>
                   </div>
                   <div class="b-scroll">
                       <div class="b-scroll__items" data-carousel="1">
                           <a class="b-scroll__item" href="">
                               <div class="b-scroll__image-item">
                                   <div class="b-scroll__full-size"></div>
                                   <img class="b-image" src="/images-samples/200x200_1.jpg" />
                               </div>
                               <div class="b-scroll__text b-link">Сервисный центр DAF (01.05.2013–01.03.2014)</div>
                           </a>
                           <a class="b-scroll__item" href="">
                               <div class="b-scroll__image-item">
                                   <div class="b-scroll__full-size"></div>
                                   <img class="b-image" src="/images-samples/200x200_2.jpg" />
                               </div>
                               <div class="b-scroll__text b-link">Склад 2590 м2 (01.03.2013–18.01.2014)</div>
                           </a>
                           <a class="b-scroll__item" href="">
                               <div class="b-scroll__image-item">
                                   <div class="b-scroll__full-size"></div>
                                   <img class="b-image" src="/images-samples/200x200_3.jpg" />
                               </div>
                               <div class="b-scroll__text b-link">Склад 1440 м2 (25.01.2014– ...)</div>
                           </a>
                           <a class="b-scroll__item" href="">
                               <div class="b-scroll__image-item">
                                   <div class="b-scroll__full-size"></div>
                                   <img class="b-image" src="/images-samples/200x200_4.jpg" />
                               </div>
                               <div class="b-scroll__text b-link">Склад 1152 м2 (25.01.2014– ...)</div>
                           </a>
                           <a class="b-scroll__item" href="">
                               <div class="b-scroll__image-item">
                                   <div class="b-scroll__full-size"></div>
                                   <img class="b-image" src="/images-samples/200x200_1.jpg" />
                               </div>
                               <div class="b-scroll__text b-link">Сервисный центр DAF (01.05.2013–01.03.2014)</div>
                           </a>
                           <a class="b-scroll__item" href="">
                               <div class="b-scroll__image-item">
                                   <div class="b-scroll__full-size"></div>
                                   <img class="b-image" src="/images-samples/200x200_4.jpg" />
                               </div>
                               <div class="b-scroll__text b-link">Сервисный центр DAF (01.05.2013–01.03.2014)</div>
                           </a>
                       </div>
                       <div class="b-scroll__nav">
                           <div class="b-scroll__nav-left" data-scroll-prev="1"></div>
                           <div class="b-scroll__nav-right" data-scroll-next="1"></div>
                       </div>
                   </div>
                </div>
                <div class="b-map">
                    <div class="b-map__item" data-map="1"></div>
                    <div class="b-map__address">
                        <h2 class="b-title b-title_type_h3">Контактная информация</h2>
                        <div class="b-map__row">
                            690039, г. Владивосток, <br/>
                            ул. Русская 9б-602
                        </div>
                        <div class="b-map__row">
                            8 (423) 200-94-88
                        </div>
                        <div class="b-map__row">
                            <a href="mailto:dsm@skdsm.ru" class="b-link">dsm@skdsm.ru</a>
                        </div>
                    </div>
                </div>
           </div>
           <div class="b-footer">
               <div class="b-footer__fon"></div>
               <div class="b-wrapper__item b-wrapper__item_footer">
                   <div class="b-footer__copyright">© Строительная компания «ДСМ», 2015</div>
                   <div class="b-footer__developer">
                       Создание сайта — <a href="" class="b-link b-link_type_dev">FarPost Design</a>, 2015
                   </div>
               </div>
           </div>
       </div>
    </body>
</html>
